{% extends 'base.html' %}
{% load staticfiles %}


{% block my_cart %}
<div class="orange_ribbon">
    <div class="top_text"> my_cart </div>
</div>
<div>You added to the cart thoose things:</div>


{% for k in cart_list %}
    <h3> {{ k }}</h3>
{% endfor %}
    <br>

    <form action='/order/' method='post'> {% csrf_token %}
    client_name<br>
    <input type='text' name='client_name'><br><br>
    phone_number<br>
    <input type='text' name='phone_number'><br><br>
    cart_list<br>
    <input type='text' name='cart_list' value={{a_str}}><br><br>
    <input type='submit' value='ORDER THE TOUR'>
    </form>


{% endblock %}