{% extends 'search_form.html' %}
{% load staticfiles %}
{% block content %}

    {% for atr in data %}

<div class="orange_ribbon">
    <div class="top_text"> {{ atr.name }} </div>
<a href= "/my_cart/" >
    <div class="icon-cart" style="float: right">
        <div class="cart-line-1" style="background-color: white"></div>
        <div class="cart-line-2" style="background-color: white"></div>
        <div class="cart-line-3" style="background-color: white"></div>
        <div class="cart-wheel" style="background-color: white"></div>
      </div>
</a>
</div>


    <img src= "{% static atr.image.url %}" class="square" >
    <img src= "{% static atr.image_map.url %}" class="square" >
    <p>
    {{ atr.text }}
    </p>
    <p>
    <a href= "{{ atr.wikipedia }}" class="link">Wikipedia</a> |
    <a href="{{ atr.tripadvisor }}" class="link">TripAdvisor</a> |
    <a href="{{ atr.google_map }}" class="link">Google Maps</a> |
    <a href="{{ atr.website }}" class="link">Web Site</a>
    </p>
<br><br><br><br><br><br><br><br><br>

{% if atr.name != 'Nazareth' %}
<div><a href= "/add_to_cart/{{ atr.name }}" class="link">ADD TOUR TO CART</a></div>
{% endif %}

    {% endfor %}
<br><br><br><br><br><br><br>

    {% if error %}
    <p style='color: red;'>Enter the search request under 20 symbols</p>
    {% endif %}

    {# print search request if it exists #}
    {% if search %}
    <h3> By your request '{{ search }}' we found: </h3>
    <br>
    {% endif %}

<div>
{% for i in all %}
    <a class="sub_titles" href='pages/{{i}}'>{{i}}</a>
{% endfor %}
</div>
{% endblock %}



